xml/perceva.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:element name="universities"/>
                <xs:element name="university"/>
                        <xs:element name="faculty"/>
                                <xs:element name="sector"/>
                                        <xs:element name="departmnet"/>
                                                <xs:element name="group"/>
                                                                        
</xs:schema>

